<style>
body
{
background-image:url(resources/images/81.jpg)
}
</style>

<!-- <div style="height:100%;width:100%;background-image:url(resources/images/vvv.jpg)">
 -->
<div class="card card-container" >
<span style="color:red">{{error.message}}</span>
<br>


<center>


<div style="height:460px;width:350px;background-color:#00796b">
<center><img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" style="border-radius:55%;width:120px;margin-top:50px"/></center>
<br>
<div class="form-group">
<div class="col-sm-12">
<div class="input-group">
 <span class="input-group-addon"><i class="fa fa-user fa"></i></span>
<input type="email" class="form-control" placeholder="enter your email" ng-model="user.email"/>
</div>
</div>
</div>
<br>
<br>
<div class="form-group">
<div class="col-sm-12">
<div class="input-group">
 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
<input type="password" class="form-control" placeholder="enter your password" ng-model="user.password"/>

</div>
</div>
</div>
<br>
<br>

<button ng-click="login(user)" class="btn btn-info">Login</button>
</form>
</center>
</div>
</div>

