<link rel="stylesheet" href="resources/css/registration.css">

<span style="color:red">{{error.errorMessage}}</span>

<form>
<header class="heading"> Registration-Form</header><hr></hr>
<div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
          	         <label class="firstname">First Name :</label> </div>
		         <div class="col-xs-8">
		             <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control" ng-model="user.firstname">
             </div>
		      </div>
		 </div>
<div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
                     <label class="lastname">Last Name :</label></div>
				<div class ="col-xs-8">	 
		             <input type="text" name="lname" id="lname" placeholder="Enter your Last Name" class="form-control" ng-model="user.lastname">
                </div>
		     </div>
		 </div>
		 <!-----For email---->
		 <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
		             <label class="mail" >Email :</label></div>
			     <div class="col-xs-8"	>	 
			          <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" ng-model="user.email">
		         </div>
		     </div>
		 </div>
	 <!-----For Password and confirm password---->
          <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="pass">Password :</label></div>
				  <div class="col-xs-8">
			             <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" ng-model="user.password" style="margin-top:6px">
				 </div>
          </div>
		  </div>
		  <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="phoneno">Phoneno</label></div>
				  <div class="col-xs-8">
			             <input type="text" name="number" id="number" placeholder="Enter your Phone number" class="form-control" ng-model="user.phonenumber" style="margin-top:6px">
				 </div>
          </div>
		  </div>
		  <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="role">select Role :</label></div>
				  <div class="col-xs-8">
			             <select ng-model="user.role" style="margin-top:6px">
<option value="STUDENT">Student
<option value="EMPLOYEE">Employee
<option value="ALUMNI">Alumni

</select>
			             </div>
          </div>
		  </div>


<button ng-click="registration(user)" class="btn btn-info">Register</button>
</form>
</div>